

.color-search-card {
  border:1px solid #AAAAAA;
  border-radius:5px;
  padding:10px;
  margin-bottom:20px;
  height:200px;
}

.color-search-color-info {
  float:left;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  height:100%;
  text-align:center;
  width:50%;
  color: #444444;
}

.color-search-button {
  background-color: #4CAF50;
  border:1px solid #AAAAAA;
  border-radius:25px;
  color:black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.color-search-color-wheel {
  float: right;
}
