

.color-search-card {
  border: none;
  padding:10px;
  margin-bottom:20px;
  height:150px;
}

.color-search-color-info {
  float:left;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  height:100%;
  text-align:center;
  width:100%;
  border-radius: 15px;
}

#color-search-hex, #color-search-rgb, #color-search-name {
  cursor: copy;
}
